.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.custom-button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 120px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #FFFFFF 33%, #DDDDDD 33%);
  border-radius: 12px;
}

.button-label {
  margin: 0;
}

@media (max-width: 767px) {
  .buttons-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-bottom: 40px;
  
  }

  .buttons-container::-webkit-scrollbar {
    display: none;
  }

  .custom-button {
    flex: 0 0 auto;
    margin-right: 10px;
    width: calc(200px * 1.5);
    height: calc(120px * 1.5);
    font-size: calc(100% * 1.5);
  }

  .custom-button:last-child {
    margin-right: 0;
  }
}
